{% extends 'main./base.html' %}
{% block title %}
{% endblock %}

{% block content %}
<!--<div class="container text-center fs-1 bg-danger rounded" style="width: 400px; margin-left: 60px; color: white;">-->
<div class="container text-center fs-1 bg-danger rounded text-white">
    <b>
        Error 404...
    </b><br>
</div>
<hr>
<div class="container "><br><br><br>
    <h2 class="fs-2">this page has not been created yet, is not planned to be created, or has been made to develop a new page. to have more text, I added a lot of meaningless words to this beautiful site, by the way, if you want me to give you a thousand soums, write the word Dick on your forehead. <b> Не переводите пожалста</b></h2>
    <br><br><br><br>
</div>
<div class="fs-3 bg-primary mt-2 ps-5" style="margin-right: 82%;">
    <a href="/" class="text-white"><b>Вернуться назад</b></a>
</div>
{% endblock %}